section#modal-testimonial.modal.modal-testimonial.page_hidden
        .modal-container
                .modal__action
                    button.page__btn.page__btn_close.close-modal(data-modal="modal-testimonial")
                .modal__content
                    .modal__content-block
                        video.page__video(poster="assets/img/img-modal-testimonial.png" src="")