section#modal-menu.modal.modal-menu.page_hidden
        .modal-container
                .modal__action
                    button.page__btn.page__btn_close.close-modal(data-modal="modal-menu")
                .modal__content
                    .modal__content-block
                        .links
                                a(href="#banner").page__link Пройти опрос
                                a(href="#projects").page__link Портфолио
                                a(href="#step-work").page__link Этапы работ
                                a(href="#slider-feedback").page__link Отзывы
                                a(href="#professional").page__link О нас