/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@icon-call-tel-name: 'icon-call-tel';
@icon-call-tel-x: 116px;
@icon-call-tel-y: 155px;
@icon-call-tel-offset-x: -116px;
@icon-call-tel-offset-y: -155px;
@icon-call-tel-width: 50px;
@icon-call-tel-height: 50px;
@icon-call-tel-total-width: 283px;
@icon-call-tel-total-height: 267px;
@icon-call-tel-image: '../assets/icons/sprite.png';
@icon-call-tel: 116px 155px -116px -155px 50px 50px 283px 267px '../assets/icons/sprite.png' 'icon-call-tel';
@icon-celebration-gray-name: 'icon-celebration-gray';
@icon-celebration-gray-x: 0px;
@icon-celebration-gray-y: 81px;
@icon-celebration-gray-offset-x: 0px;
@icon-celebration-gray-offset-y: -81px;
@icon-celebration-gray-width: 64px;
@icon-celebration-gray-height: 64px;
@icon-celebration-gray-total-width: 283px;
@icon-celebration-gray-total-height: 267px;
@icon-celebration-gray-image: '../assets/icons/sprite.png';
@icon-celebration-gray: 0px 81px 0px -81px 64px 64px 283px 267px '../assets/icons/sprite.png' 'icon-celebration-gray';
@icon-celebration-pink-name: 'icon-celebration-pink';
@icon-celebration-pink-x: 74px;
@icon-celebration-pink-y: 81px;
@icon-celebration-pink-offset-x: -74px;
@icon-celebration-pink-offset-y: -81px;
@icon-celebration-pink-width: 64px;
@icon-celebration-pink-height: 64px;
@icon-celebration-pink-total-width: 283px;
@icon-celebration-pink-total-height: 267px;
@icon-celebration-pink-image: '../assets/icons/sprite.png';
@icon-celebration-pink: 74px 81px -74px -81px 64px 64px 283px 267px '../assets/icons/sprite.png' 'icon-celebration-pink';
@icon-chevron-name: 'icon-chevron';
@icon-chevron-x: 266px;
@icon-chevron-y: 177px;
@icon-chevron-offset-x: -266px;
@icon-chevron-offset-y: -177px;
@icon-chevron-width: 14px;
@icon-chevron-height: 23px;
@icon-chevron-total-width: 283px;
@icon-chevron-total-height: 267px;
@icon-chevron-image: '../assets/icons/sprite.png';
@icon-chevron: 266px 177px -266px -177px 14px 23px 283px 267px '../assets/icons/sprite.png' 'icon-chevron';
@icon-micriophone-gray-name: 'icon-micriophone-gray';
@icon-micriophone-gray-x: 0px;
@icon-micriophone-gray-y: 0px;
@icon-micriophone-gray-offset-x: 0px;
@icon-micriophone-gray-offset-y: 0px;
@icon-micriophone-gray-width: 69px;
@icon-micriophone-gray-height: 71px;
@icon-micriophone-gray-total-width: 283px;
@icon-micriophone-gray-total-height: 267px;
@icon-micriophone-gray-image: '../assets/icons/sprite.png';
@icon-micriophone-gray: 0px 0px 0px 0px 69px 71px 283px 267px '../assets/icons/sprite.png' 'icon-micriophone-gray';
@icon-micriophone-pink-name: 'icon-micriophone-pink';
@icon-micriophone-pink-x: 79px;
@icon-micriophone-pink-y: 0px;
@icon-micriophone-pink-offset-x: -79px;
@icon-micriophone-pink-offset-y: 0px;
@icon-micriophone-pink-width: 69px;
@icon-micriophone-pink-height: 71px;
@icon-micriophone-pink-total-width: 283px;
@icon-micriophone-pink-total-height: 267px;
@icon-micriophone-pink-image: '../assets/icons/sprite.png';
@icon-micriophone-pink: 79px 0px -79px 0px 69px 71px 283px 267px '../assets/icons/sprite.png' 'icon-micriophone-pink';
@icon-nav-call-white-name: 'icon-nav-call-white';
@icon-nav-call-white-x: 176px;
@icon-nav-call-white-y: 155px;
@icon-nav-call-white-offset-x: -176px;
@icon-nav-call-white-offset-y: -155px;
@icon-nav-call-white-width: 19px;
@icon-nav-call-white-height: 18px;
@icon-nav-call-white-total-width: 283px;
@icon-nav-call-white-total-height: 267px;
@icon-nav-call-white-image: '../assets/icons/sprite.png';
@icon-nav-call-white: 176px 155px -176px -155px 19px 18px 283px 267px '../assets/icons/sprite.png' 'icon-nav-call-white';
@icon-nav-call-name: 'icon-nav-call';
@icon-nav-call-x: 176px;
@icon-nav-call-y: 183px;
@icon-nav-call-offset-x: -176px;
@icon-nav-call-offset-y: -183px;
@icon-nav-call-width: 18px;
@icon-nav-call-height: 18px;
@icon-nav-call-total-width: 283px;
@icon-nav-call-total-height: 267px;
@icon-nav-call-image: '../assets/icons/sprite.png';
@icon-nav-call: 176px 183px -176px -183px 18px 18px 283px 267px '../assets/icons/sprite.png' 'icon-nav-call';
@icon-nav-instagram-name: 'icon-nav-instagram';
@icon-nav-instagram-x: 232px;
@icon-nav-instagram-y: 51px;
@icon-nav-instagram-offset-x: -232px;
@icon-nav-instagram-offset-y: -51px;
@icon-nav-instagram-width: 33px;
@icon-nav-instagram-height: 32px;
@icon-nav-instagram-total-width: 283px;
@icon-nav-instagram-total-height: 267px;
@icon-nav-instagram-image: '../assets/icons/sprite.png';
@icon-nav-instagram: 232px 51px -232px -51px 33px 32px 283px 267px '../assets/icons/sprite.png' 'icon-nav-instagram';
@icon-nav-vk-name: 'icon-nav-vk';
@icon-nav-vk-x: 232px;
@icon-nav-vk-y: 93px;
@icon-nav-vk-offset-x: -232px;
@icon-nav-vk-offset-y: -93px;
@icon-nav-vk-width: 33px;
@icon-nav-vk-height: 32px;
@icon-nav-vk-total-width: 283px;
@icon-nav-vk-total-height: 267px;
@icon-nav-vk-image: '../assets/icons/sprite.png';
@icon-nav-vk: 232px 93px -232px -93px 33px 32px 283px 267px '../assets/icons/sprite.png' 'icon-nav-vk';
@icon-nav-whatsapp-name: 'icon-nav-whatsapp';
@icon-nav-whatsapp-x: 232px;
@icon-nav-whatsapp-y: 135px;
@icon-nav-whatsapp-offset-x: -232px;
@icon-nav-whatsapp-offset-y: -135px;
@icon-nav-whatsapp-width: 32px;
@icon-nav-whatsapp-height: 32px;
@icon-nav-whatsapp-total-width: 283px;
@icon-nav-whatsapp-total-height: 267px;
@icon-nav-whatsapp-image: '../assets/icons/sprite.png';
@icon-nav-whatsapp: 232px 135px -232px -135px 32px 32px 283px 267px '../assets/icons/sprite.png' 'icon-nav-whatsapp';
@icon-pdf-name: 'icon-pdf';
@icon-pdf-x: 232px;
@icon-pdf-y: 177px;
@icon-pdf-offset-x: -232px;
@icon-pdf-offset-y: -177px;
@icon-pdf-width: 24px;
@icon-pdf-height: 34px;
@icon-pdf-total-width: 283px;
@icon-pdf-total-height: 267px;
@icon-pdf-image: '../assets/icons/sprite.png';
@icon-pdf: 232px 177px -232px -177px 24px 34px 283px 267px '../assets/icons/sprite.png' 'icon-pdf';
@icon-photograph-name: 'icon-photograph';
@icon-photograph-x: 232px;
@icon-photograph-y: 0px;
@icon-photograph-offset-x: -232px;
@icon-photograph-offset-y: 0px;
@icon-photograph-width: 51px;
@icon-photograph-height: 41px;
@icon-photograph-total-width: 283px;
@icon-photograph-total-height: 267px;
@icon-photograph-image: '../assets/icons/sprite.png';
@icon-photograph: 232px 0px -232px 0px 51px 41px 283px 267px '../assets/icons/sprite.png' 'icon-photograph';
@icon-proximo-gray-name: 'icon-proximo-gray';
@icon-proximo-gray-x: 158px;
@icon-proximo-gray-y: 0px;
@icon-proximo-gray-offset-x: -158px;
@icon-proximo-gray-offset-y: 0px;
@icon-proximo-gray-width: 64px;
@icon-proximo-gray-height: 64px;
@icon-proximo-gray-total-width: 283px;
@icon-proximo-gray-total-height: 267px;
@icon-proximo-gray-image: '../assets/icons/sprite.png';
@icon-proximo-gray: 158px 0px -158px 0px 64px 64px 283px 267px '../assets/icons/sprite.png' 'icon-proximo-gray';
@icon-proximo-pink-name: 'icon-proximo-pink';
@icon-proximo-pink-x: 158px;
@icon-proximo-pink-y: 74px;
@icon-proximo-pink-offset-x: -158px;
@icon-proximo-pink-offset-y: -74px;
@icon-proximo-pink-width: 64px;
@icon-proximo-pink-height: 64px;
@icon-proximo-pink-total-width: 283px;
@icon-proximo-pink-total-height: 267px;
@icon-proximo-pink-image: '../assets/icons/sprite.png';
@icon-proximo-pink: 158px 74px -158px -74px 64px 64px 283px 267px '../assets/icons/sprite.png' 'icon-proximo-pink';
@icon-strelka-name: 'icon-strelka';
@icon-strelka-x: 205px;
@icon-strelka-y: 155px;
@icon-strelka-offset-x: -205px;
@icon-strelka-offset-y: -155px;
@icon-strelka-width: 13px;
@icon-strelka-height: 13px;
@icon-strelka-total-width: 283px;
@icon-strelka-total-height: 267px;
@icon-strelka-image: '../assets/icons/sprite.png';
@icon-strelka: 205px 155px -205px -155px 13px 13px 283px 267px '../assets/icons/sprite.png' 'icon-strelka';
@icon-videocamera-name: 'icon-videocamera';
@icon-videocamera-x: 0px;
@icon-videocamera-y: 230px;
@icon-videocamera-offset-x: 0px;
@icon-videocamera-offset-y: -230px;
@icon-videocamera-width: 55px;
@icon-videocamera-height: 37px;
@icon-videocamera-total-width: 283px;
@icon-videocamera-total-height: 267px;
@icon-videocamera-image: '../assets/icons/sprite.png';
@icon-videocamera: 0px 230px 0px -230px 55px 37px 283px 267px '../assets/icons/sprite.png' 'icon-videocamera';
@icon-wedding-ring-gray-name: 'icon-wedding-ring-gray';
@icon-wedding-ring-gray-x: 0px;
@icon-wedding-ring-gray-y: 155px;
@icon-wedding-ring-gray-offset-x: 0px;
@icon-wedding-ring-gray-offset-y: -155px;
@icon-wedding-ring-gray-width: 48px;
@icon-wedding-ring-gray-height: 65px;
@icon-wedding-ring-gray-total-width: 283px;
@icon-wedding-ring-gray-total-height: 267px;
@icon-wedding-ring-gray-image: '../assets/icons/sprite.png';
@icon-wedding-ring-gray: 0px 155px 0px -155px 48px 65px 283px 267px '../assets/icons/sprite.png' 'icon-wedding-ring-gray';
@icon-wedding-ring-pink-name: 'icon-wedding-ring-pink';
@icon-wedding-ring-pink-x: 58px;
@icon-wedding-ring-pink-y: 155px;
@icon-wedding-ring-pink-offset-x: -58px;
@icon-wedding-ring-pink-offset-y: -155px;
@icon-wedding-ring-pink-width: 48px;
@icon-wedding-ring-pink-height: 65px;
@icon-wedding-ring-pink-total-width: 283px;
@icon-wedding-ring-pink-total-height: 267px;
@icon-wedding-ring-pink-image: '../assets/icons/sprite.png';
@icon-wedding-ring-pink: 58px 155px -58px -155px 48px 65px 283px 267px '../assets/icons/sprite.png' 'icon-wedding-ring-pink';
@spritesheet-width: 283px;
@spritesheet-height: 267px;
@spritesheet-image: '../assets/icons/sprite.png';
@spritesheet-sprites: @icon-call-tel @icon-celebration-gray @icon-celebration-pink @icon-chevron @icon-micriophone-gray @icon-micriophone-pink @icon-nav-call-white @icon-nav-call @icon-nav-instagram @icon-nav-vk @icon-nav-whatsapp @icon-pdf @icon-photograph @icon-proximo-gray @icon-proximo-pink @icon-strelka @icon-videocamera @icon-wedding-ring-gray @icon-wedding-ring-pink;
@spritesheet: 283px 267px '../assets/icons/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  background-image: e(%('url(%a)', e(@sprite-image)));
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
