@import '../fonts/fonts.less';
@import '../sprite/sprite.less';

@color_white:#ffffff;
@color_scrollbar-track: @color_white;
@color_scrollbar-thumb: #cccccc;

@color_gray: #4c4c4c;
@color_light-gray: #575757;
@color_white: #fff;