.modal{
    &__content{
        &-block{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            .page__video{
                cursor: pointer;
            }
        }
    }
}