.banner {
    position: relative;
    overflow: hidden;
    
    &_bg{
        background-color: @color_light-pink;
        opacity: 0.2;
        width: 100%;
        height: 100%;
        position: absolute;
    }
    .sm-block({
        padding-bottom: 0;
     });
    &-block {
        .row-flex();
        position: relative;
        &__description {
            .col();
            .size(6);
            .size-sm(12);
            padding-top: 60px;
            .mmd-block({
                text-align: center;
            });
            .page__text {
                .size(8.5);
                .size-mmd(12);
                padding: 30px 0;
                .mmd-block({
                    font-size: 15px;
                    line-height: 18px;
                    margin: 0 auto;
                });
            }
            .page__btn {
                .size-mmd(12);
                display: inline-flex;
            }
            .page__text_very-small {
                .size(5.7);
                .size-mmd(12);
                display: inline-flex;
                position: relative;
                color: #000;
                opacity: 0.4;
                margin-left: 47px;
                font-size: 16px;
                line-height: 20px;
                bottom: 19px;
                .mmd-block({
                    bottom: 0;
                    text-align: left;
                    margin-top: 10%;
                });
                &::after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    left: -50px;
                    bottom: -53px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-image: url('../assets/img/img-strelka-banner.png');
                    .sm-block({
                        transform: rotate(78deg);
                        bottom: -100px;
                        left: -170px;
                     });
                    
                }
            }
           

        }

        &__img {
            .col();
            .size(10);
            .shift-right(-6);
            position: relative;
            left: -101px;
            top: -25px;
            .sm-block({
                .size(12);
                .shift-right(0);
                left: 30px;
               
                top: 0;
            });
        }
       
    }
    .page__title-h2{
        font-size: 61px;
        line-height: 76px;
        .size(10);
        .size-mmd(12);
        .mmd-block({
            font-size: 25px;
            line-height: 33px;
            text-align: center;
            margin: 0 auto;
        });
    }
    &.animated{
        .from(@break_mmd, {
            .animated({
                .scale()
            });
            .page__title-h2,
            .page__text,
            .page__btn.page__btn_arrow,
            .page__text_very-small{
                .animated({
                    .fadeInUp();
                   
                },1.5s);
            }
            .page__text{
                .delay(0.3s);
            }
            .page__btn.page__btn_arrow{
                .delay(0.6s);
            }
            .page__text_very-small{
                .delay(0.8s);
            }
        });
        
    }
}