.basis {
    background-image: url(../assets/img/img-bg-basis.png);
    .xs-block({
        background-size: cover;
        background-image: url(../assets/img/img-bg-basis-mob.png);
    });
    background-repeat: no-repeat;
    //overflow: hidden;
    
    &-block {
        margin: 0 auto;
        
        padding: 14px 95px 14px 70px;
        box-sizing: border-box;

        .size(10.5);
        .size-sm(12);
        background-color: @color_white;
        position: relative;
        top: -170px;
        border-radius: 15px;
        box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.03);
        .sm-block({
            top: -100px;
            padding: 14px;
        });
       
        &-description {
            
            .page__text_small-pink {
                margin-bottom: 12px;
                font-family: "@{pala}-Bold";
                font-weight: bold;
                font-size: 20px;
                line-height: 27px;
            }

            .page__text_very-small {
                margin-bottom: 35px;
                font-weight: 500;
                font-size: 16px;
                line-height: 132.1%;
                font-family: "@{Montserrat}-Regular";
            }
        }

        &-items {
            .row-flex();
            //flex-wrap: nowrap;
            padding-top: 20px;
            &-item {
                .col();
                .size(6);
                .size-sm(12);
                display: flex;
                margin-bottom: 50px;
                .sm-block({
                    margin-bottom: 32px;
                });
                &__img{
                    .mmd-block({
                        flex-basis: 21%;
                    });
                }
                &__description{
                    padding-left: 21px;
                    padding-top: 10px;
                    .mmd-block({
                        padding-top: 0px;
                        .size(9);
                    });
                    .page__text_very-small{
                        font-weight: bold;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }

            }
        }
    }
}