.basis {
    background-image: url(../assets/img/img-bg-basis.png);
    background-repeat: no-repeat;
    //overflow: hidden;
    .sm-block({
        height: 540px;
    });
    &-block {
        background-color: @color_white;
        position: relative;
        top: -170px;
        border-radius: 25px;
        .sm-block({
            top: -230px;
            .shift-left(-.5);
            .size(13);
        });
        .size(10);
        .shift-left(1);
        &-description {
            .size(7);
            .shift-left(2);
            .sm-block({
                .size(10);
                .shift-left(1);
            });
            padding-top: 65px;
            //padding-left: 65px;
            //padding-right: 65px;
            
            .page__text_small-pink {
                margin-bottom: 12px;
                font-family: "@{pala}-Bold";
            }

            .page__text_very-small {
                margin-bottom: 35px;
                //font-family: "@{Montserrat}-Regular";
            }
        }

        &-items {
            .row-flex();
            //flex-wrap: nowrap;

            &-item {
                //.shift-left(3);
                .row-flex();
                flex-wrap: nowrap;
                .size(4);
                .shift-left(2);
                .shift-right(-1.9);
                margin-bottom: 50px;
                .sm-block({
                    margin-bottom: 32px;
                });

                .page__text_very-small {
                    font-family: "@{pala}-Bold";
                    padding-left: 5px;
                    position: relative;
                    top: 7px;
                    //padding-top: 5px;
                }

                &__img {
                    .page__img {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}