.city {
    padding-top: 100px;
    padding-bottom: 150px;
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        &-description {
            .page__title-h2 {
                //.size(9);
                margin-bottom: 20px;
            }

            .page__text_very-small {
                .size(6);
                margin-bottom: 20px;
            }

            .page__text_small {
                .size(8);
            }
        }

        &-img {
            .page__img {
                .size(26);
                .shift-left(-10);
                position: relative;
                top: -55px;
                //width: 693px;
                //height: 528px;

                
            }
        }
    }
    
}