.city {
    padding-top: 100px;
    padding-bottom: 150px;
    overflow: hidden;
    position: relative;
    &_bg{
        height: 100%;
        width: 100%;
        position: absolute;
        background: linear-gradient(0deg, #FEE2D9 0%, rgba(254, 226, 217, 0) 100%);
        opacity: 0.2;
    }
    .sm-block({
                
        padding-top: 20px;
        
    });
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        
        .sm-block({
                
            flex-direction: column;
            
        });
        &-description {
            .page__title-h2 {
                //.size(9);
                margin-bottom: 20px;
                .sm-block({
                    padding-left: 20px;
                    font-size: 25px;
                    margin-bottom: 0;
                });
            }

            .page__text_very-small {
                .size(6);
                margin-bottom: 20px;
                .sm-block({
                    padding-left: 20px;
                    margin-top: 15px;
                    .size(12);
                });
            }

            .page__img {
                .sm-block({
                    padding-left: 20px;
                    
                });
            }

            .page__text_small {
                .size(8);
                .sm-block({
                    padding-left: 20px;
                    .size(11);
                    
                });
            }
        }

        &-img {
            .page__img {
                .size(26);
                .shift-left(-10);
                position: relative;
                top: -55px;
                //width: 693px;
                //height: 528px;
                .sm-block({
                    .size(14);
                    .shift-left(-1.5);
                    padding-top: 15px;
                });
                
            }
        }
    }
    
}