.form {
    padding-top: 172px;
    padding-bottom: 127px;
    position: relative;
   
    &_bg{
        opacity: 0.3;
        position: absolute;
        background-color: @color_light-pink;
        width: 58%;
        height: 100%;
        top: 0;
        right: 0;
    }
    &-block {
        .row-flex();
        position: relative;
        background-color: @color_white;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.05);
        border-radius: 15px;
        padding: 60px 19px;
        box-sizing: border-box;
        &::before,
        &::after {
            content: '';
            position: absolute;
            display: inline-block;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            z-index: -1;
        }
        &::before {
            background-image: url(../assets/img/img-form-vetka-1.png);
            bottom: 33%;
            left: 5%;
        }
        &::after {
            content: '';
            background-image: url(../assets/img/img-form-vetka-2.png);
            top: 74%;
            right: 12%;
        }
       
        
        &-img {
            .col();
            .size(5.8);
            .size-sm(12);
            padding-top: 48px;
        }

        &-form {
            .col();
            .size(6);
            .size-sm(12);
            .page__btn {
            }

            .page__title-h2 {
                margin-bottom: 36px;
                .sm-block({
                    font-size: 25px;
                    //padding-left: 0;
                });
            }

            .page__text_very-small {
                .size(9);
                .size-sm(12);
                margin-bottom: 30px;
                font-size: 16px;
                line-height: 20px;
            }

            form { 
                display: flex;
                flex-direction: column;
                .size(9);
                .size-sm(12);
                input {
                    margin-bottom: 20px;
                    border: 1px solid #B3B3B3;
                    box-sizing: border-box;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
                    border-radius: 49px;;
                    margin-bottom: 18px;
                    height: 56px;
                    font-family: "@{Montserrat}-Regular";
                    font-size: 14px;
                    color: @color_light-gray;
                    padding-left: 15px;
                }
                .page__btn{
                    .size(10);
                    .size-sm(12);
                    .sm-block({
                        margin: 0 auto;
                    });
                }
            }
        }
    }
}