.header {
    padding-top: 10px;
    padding-bottom: 20px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #ffffff;
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        justify-content: space-between;
        
        &__logo {
            .size(2);
            .sm-block({
                .size(12);
                flex-wrap: nowrap;
                .shift-left(.5);
            });
        }
        
        &-links {
            .size(6);
            .sm-block({
                display: none;
            });
            padding-top: 35px;
            &__get-opros , &__portfolio , &__step-work , &__feedback , &__about {
                padding-right: 30px;
            }
        }

        &__soc {
            .sm-block({
                display: none;
            });
            .row-flex();
            padding-top: 27px;
            .shift-left(-.5);
            .size(2);
            &-whatsapp {
                margin-right: 15px;
                .sprite(@icon-nav-whatsapp);

            }
            &-vk {
                margin-right: 15px;
                .sprite(@icon-nav-vk);
            }
            &-instagram {
                margin-right: 15px;
                .sprite(@icon-nav-instagram);
            }
        }

        &__call {
            .shift-left(.5);
            .sm-block({
                //display: flex;
            });
            padding-top: 18px;

            .page__btn-call {
                .sm-block({
                    display: none;
                });
                &_tel {
                    display: none;
                    .sprite(@icon-call-tel);
                    .sm-block({
                        display: block;
                        .shift-left(-24);
                    })
                }
            }
        }

    }
}