.header {
    padding-top: 10px;
    padding-bottom: 3px;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    // background-color: #ffffff;
    background-color: transparent;
    &-block {
        .row-flex();
        align-items: center;
        // flex-wrap: nowrap;
        // justify-content: space-between;
        
        &__logo {
            .col();
            .size(1.7);
            .sm-block({
                .size(12);
                flex-wrap: nowrap;
                .shift-left(.5);
            });
        }
        
        &-links {
            .col();
            .size(6);
            margin-right: 0;
            font-family: "@{Montserrat}-Regular";
            font-size: 15px;
            color: #4d4d4d;
            .sm-block({
                display: none;
            });
            .page__link{
                // padding-right: 33px;
                padding-right: 5.5%;
            }
            // &__get-opros ,
            //  &__portfolio , 
            //  &__step-work , 
            //  &__feedback ,
            //  &__about {
            //     padding-right: 30px;
            // }
        }

        &__soc {
            .col();
            .size(1.7);
            margin-left: 0;
            display: flex;
            justify-content: space-around;

            .sm-block({
                display: none;
            });
            &-icon{
                // margin: 0 15px;
            }
            
            &-whatsapp {
                .sprite(@icon-nav-whatsapp);
                &:hover{
                    .sprite(@icon-nav-whatsapp-pink);
                }
            }
            &-vk {
                .sprite(@icon-nav-vk);
                &:hover{
                    .sprite(@icon-nav-vk-pink);
                }
            }
            &-instagram {
                .sprite(@icon-nav-instagram);
                &:hover{
                    .sprite(@icon-nav-instagram-pink);
                }
            }
        }

        &__call {
            
            .col();
            .size(3);
            display: flex;
            justify-content: center;
            margin-right: 0;
            .sm-block({
                //display: flex;
            });

            .page__btn-call {
                margin: 0;
                .sm-block({
                    display: none;
                });
            }
        }

    }
}