.how-work {
    overflow: hidden;
    &-block {
        .row-flex();
        flex-direction: column;
        
        .page__title-h2 {
            .sm-block({
                .size(8);
                font-size: 25px;

             });
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            .size(5);
        }
        &__img {
            .page__img {
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 20px;
                .sm-block({
                    .shift-left(4);

                 });
            }
            
        }
        .page__text_small {
            .size(6);
            line-height: 30px;
            margin: 0 auto;
            text-align: center;
            // margin-bottom: 84px;
        }
    }
}