.how-work {
    overflow: hidden;
    &-block {
        .row-flex();
        flex-direction: column;
        
        .page__title-h2 {
            .size(5);
            .size-sm(8);
            .sm-block({
                font-size: 25px;
             });
            text-align: center;
            margin: 0 auto;
            margin-bottom: 20px;
            
        }
        &__img {
            .page__img {
                justify-content: center;
                margin: 0 auto;
                margin-bottom: 20px;
             
            }
            
        }
        .page__text_small {
            .size(6);
            .size-sm(9.5);
            .sm-block({
                font-size: 15px;
                line-height: 18px;
             });
            line-height: 30px;
            margin: 0 auto;
            text-align: center;
            // margin-bottom: 84px;
        }
    }
}