.page{
    &__title {
        &-h1, &-h2 {
            font-family: "@{pala}";
            color: @color_gray;
        }
        &-h1 {
                font-size: 61px;  
        }
        &-h2 {
                font-size: 50px;
                &-tel {
                    display: none;
                    font-size: 25px;
                    font-family: "@{pala}";
                    color: @color_gray;
                    .sm-block({
                        display: block;
                        
                    });
                }
            }

    }

    &__subtitle {
        &_smalll {
            font-family: "@{pala}";
            font-size: 20px;
            color: @color_light-gray;
        }
    }

    &__text {
        font-family: "@{Montserrat}-Regular";
        font-size: 21px;
        color: @color_gray;
        &-pink {
            color: @color_pink;    
        }
        &_small {
            font-family: "@{Montserrat}-Regular";
            font-size: 20px;
            color: @color_light-gray;
            &_center {
                text-align: center;
            }
            &-italic {
                font-family: "@{pala}-Italic";
                font-size: 20px;
                color: @color_light-gray;
            }
            &-pink {
                color: @color_pink;
            }
        }

        &_very-small {
            font-family: "@{Montserrat}-Regular";
            font-size: 14px;
            color: @color_light-gray;
            &_pink {
                
                font-family: "@{Montserrat}-Regular";
                font-size: 14px;
                
                color: @color_pink;
            }
        }

    }

    &__link {

            text-decoration: none;
            font-family: "@{Montserrat}-Regular";
          
           
            font-size: 15px;
            line-height: 18px;
            font-weight: 500;
            color: @color_gray-2;
            transition: all .5s ease-out;
            &:hover{
                color: @color_pink-dark;
            }
            &-step-work {
                text-decoration: none;
                font-family: "@{Montserrat}-Regular";
                font-size: 15px;
                color: @color_pink;
                margin-top: 26px;
            }
    }

    &__img {
        display: block;
        &_small-rose {

        }

        &_step-work {

        }
    }

    &__btn {
        cursor: pointer;
        border: none;
        text-decoration: none;
        font-family: "@{Montserrat}-Regular";
        text-transform: uppercase;
        color: @color_white;
        background-color: @color_pink;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 20px;
        border-radius: 49px;
        padding: 0 62px ;
        height: 70px;
        letter-spacing: 0.03em;
        transition: all ease-out 0.1s;
        &_arrow{
            &::after {
                content: '';
                position: absolute;
                right: 10%;
                .sprite(@icon-strelka);
                margin-left: 10px;
                color: @color_white;
                opacity: 0;
                transition: all ease-out 0.35s;
            }
            &:hover{
                &::after {
                    opacity: 1;
                }
            }
        }
        
        &:hover {
            // transition: all ease-out 0.5s;
            background-color: @color_pink-dark;
            
        }
        &:active{
            // height: 76px;
            transform: scale(1.04);
        }
        &-call {
            color: @color_pink;
            background-color: transparent;
            border: 2px solid @color_pink;

            height: 45px;
            font-size: 14px;
            line-height: 17px;
            font-weight: 600;
            letter-spacing: 1px;
            padding: 0 25px;
            border-radius: 25px;
           
            
            &::before {
                content: '';
                .sprite(@icon-nav-call);
                margin-right: 10px;
            }
            &:hover {
                color: @color_white;
                background-color: @color_pink;
              
                &::before {
                    .sprite(@icon-nav-call-white);
                }
            }
            
        }
    }
    &__icon{
        &_proximo{
            .sprite(@icon-proximo-gray);
        }
        &_micriophone{
            .sprite(@icon-micriophone-gray);
        }
        &_wedding-ring{
            .sprite(@icon-wedding-ring-gray);
        }
        &_celebration{
            .sprite(@icon-celebration-gray);
        }
        &_photograph{
            .sprite(@icon-photograph);
        }
        &_videocamera{
            .sprite(@icon-videocamera);
        }
        &_play{
            .sprite(@icon-play-circle);
        }
    }
    &_hidden{
        display: none !important;
    }
}
