.page{
    &__title {
        &-h1, &-h2 {
            font-family: "@{pala}";
            color: @color_gray;
        }
            &-h1 {
                font-size: 61px;  
        }
            &-h2 {
                font-size: 50px;
                &-tel {
                    display: none;
                    font-size: 25px;
                    font-family: "@{pala}";
                    color: @color_gray;
                    .sm-block({
                        display: block;
                        
                    });
                }
            }

    }

    &__subtitle {
        &_smalll {
            font-family: "@{pala}";
            font-size: 20px;
            color: @color_light-gray;
        }
    }

    &__text {
        font-family: "@{Montserrat}-Regular";
        font-size: 21px;
        color: @color_gray;
        &-pink {
            color: @color_pink;    
        }
        &_small {
            font-family: "@{Montserrat}-Regular";
            font-size: 20px;
            color: @color_light-gray;
            &_center {
                text-align: center;
            }
            &-italic {
                font-family: "@{pala}-Italic";
                font-size: 20px;
                color: @color_light-gray;
            }
            &-pink {
                color: @color_pink;
            }
        }

        &_very-small {
            font-family: "@{Montserrat}-Regular";
            font-size: 14px;
            color: @color_light-gray;
            &_pink {
                
                font-family: "@{Montserrat}-Regular";
                font-size: 14px;
                
                color: @color_pink;
            }
        }

    }

    &__link {

            text-decoration: none;
            font-family: "@{Montserrat}-Regular";
            font-size: 15px;
            color: @color_gray-2;
            
            
            &-step-work {
                text-decoration: none;
                font-family: "@{Montserrat}-Regular";
                font-size: 15px;
                color: @color_pink;
                margin-top: 26px;
            }
    }

    &__img {
        display: block;
        &_small-rose {

        }

        &_step-work {

        }
    }

    &__btn {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        

        border-radius: 25px;
        height: 45px;
        font-size: 14px;
        letter-spacing: 1px;
        line-height: 30px;
        font-family: "@{Montserrat}-Regular";
        text-transform: uppercase;
        border: 2px solid @color_pink;
        color: @color_white;
        background-color: @color_pink;
        padding-left: 45px;
        padding-right: 45px;
        flex-wrap: nowrap;
        &:hover {
            transition: all ease-out 0.5s;
            background-color: @color_pink-dark;
            color: @color_white;
            
            font-size: 10px;
            &::after {
                content: '';
                .sprite(@icon-strelka);
                margin-left: 10px;
                color: @color_white;
                flex-wrap: nowrap;
            }
        }
        &-call {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            border-radius: 25px;
            height: 45px;
            font-size: 14px;
            letter-spacing: 1px;
            line-height: 30px;
            font-family: "@{Montserrat}-Regular";
            text-transform: uppercase;
            border: 2px solid @color_pink;
            color: @color_pink;
            background-color: transparent;
            padding-left: 25px;
            padding-right: 25px;
            &::before {
                content: '';
                .sprite(@icon-nav-call);
                margin-right: 10px;
            }
            &:hover {
                transition: all ease-out 0.5s;
                background-color: @color_pink;
                color: @color_white;
                &::before {
                    content: '';
                    .sprite(@icon-nav-call-white);
                    margin-right: 10px;
                    color: @color_white;
                }
            }
            
        }
    }
}
