.page{
    &__title {
        &-h1, &-h2 {
            font-family: "@{pala}";
            color: @color_gray;
        }
            &-h1 {
                font-size: 61px;  
        }
    }

    &__text {
        font-family: "@{Montserrat}-Regular";
        font-size: 21px;
    }

    &__btn {
        
    }
}