.price {
    background-image: url(../assets/img/img-bg-price.png);
    padding-top: 90px;
    padding-bottom: 80px;
    overflow: hidden;
    .sm-block({
       background-image: none;
       background-color: @color_light-pink;
       padding-top: 60px;
       padding-bottom: 50px;
    });
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        &__bg {
            background-color: rebeccapurple;
        }
        &-img {
            
            &__img {
                .page__img {
                    .size(12);
                    z-index: 170;
                    position: relative;
                    .sm-block({
                        order: 0;
                        .size(11);
                        padding-top: 28px;
                        .shift-left(.5);
                    });
                }
            }
        }

        &-description {
            .size(5);
            position: relative;
            z-index: 120;
            .page__img {
                .sm-block({
                    padding-left: 15px;
                });
            }

            &__bg {
                background-color: @color_white;
                position: absolute;
                width: 725px;
                height: 500px;
                right: -89px;
                top: -46px;
                z-index: -20;
                border-radius: 25px;
                box-shadow: 0px 10.7632px 14.6772px rgba(0, 0, 0, 0.03);

            }
            .sm-block({
                order: -1;
                top: 0;
                left: 0;
                .shift-left(.7);
                background-color: @color_white;
                padding-top: 30px;
                border-radius: 25px;
                width: 300px;

                 
            });
            position: relative;
            top: 120px;
            left: 20px;
            .page__title-h2 {
                padding-bottom: 30px;
                .sm-block({
                    font-size: 25px;
                    .size(11);
                    padding-left: 15px;
                    
                });
            }

            .page__text_small {
                padding-bottom: 30px;
                font-family: "@{Montserrat}-Regular";
                font-size: 16px;
                line-height: 20px;
                .size(10);
                .sm-block({
                    .size(12);
                    padding-left: 15px;
                });
                &_padding-left {
                    padding-left: 35px;
                    font-family: "@{Montserrat}-Regular";
                    font-size: 14px;
                    color: #575757;
                    position: relative;
                    left: 35px;
                    .sm-block({
                        .size(24);
                        //.shift-left(.0);
                        font-size: 14px;
                        margin-bottom: 30px;
                        
                    });
                }
            }

            .page__btn {
                .size(6);
                .sm-block({
                    .size(7);
                    .shift-left(.1);
                    font-size: 10px;
                    
                });
                margin-bottom: 20px;
            }
        }
    }
}