.price {
    // background-image: url(../assets/img/img-bg-price.png);
    padding-top: 60px;
    padding-bottom: 80px;
    position: relative;
    &_bg{
        position: absolute;
        top: 0;
        width: 60%;
        height: 100%;
        background-color: @color_light-pink;
        opacity: 0.4;
    }
    overflow: hidden;
    .sm-block({
       background-image: none;
       background-color: @color_light-pink;
       padding-top: 60px;
       padding-bottom: 50px;
    });
    &-block {
        .row-flex();
        flex-wrap: nowrap;
        &__bg {
            background-color: rebeccapurple;
        }
        &-img {
            position: relative;
            z-index: 10;
            &__img {
                
            }
            .page__img {
                // .size(12);
                // z-index: 170;
                // position: relative;
                .sm-block({
                    order: 0;
                    .size(11);
                    padding-top: 28px;
                    .shift-left(.5);
                });
            }
        }

        &-description {
            .size(8);
            .shift-left(-1.8);
            .shift-right(-3);
            margin-top: 45px;
            padding: 5% 3% 5% 19%;
            box-sizing: border-box;
            position: relative;
            background-color: @color_white;
            border-radius: 25px;
            box-shadow: 0px 10.7632px 14.6772px rgba(0, 0, 0, 0.03);
            &::before,
            &::after{
                content: '';
                display: inline-block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                z-index: -1;
            }
            &::before{
                background-image: url(../assets/img/img-price-leafs-2.png);
                top: -133px;
                left: 24%;
            }
            &::after{
                background-image: url(../assets/img/img-price-leafs-1.png);
                top: 38%;
                left: 72%;
            }
            .page__img {
                .sm-block({
                    padding-left: 15px;
                });
            }
            .page__title-h2 {
                padding-bottom: 30px;
                .sm-block({
                    font-size: 25px;
                    .size(11);
                    padding-left: 15px;
                    
                });
            }

            .page__text_small {
                padding-bottom: 30px;
                font-family: "@{Montserrat}-Regular";
                font-size: 16px;
                line-height: 20px;
                &_after {
                    padding-left: 40px;
                    padding-top: 15px;
                    font-family: "@{Montserrat}-Regular";
                    font-size: 13px;
                    line-height: 16px;
                    color: #575757;
                }
            }

            .page__btn {
                .size(4.5);
            }
        }
    }
}