.professional {
    overflow: hidden;
    &-block {
        padding-top: 130px;
        padding-bottom: 50px;
        .row-flex();

        &-description-profile {
            .size(4);
            
            background-color: @color_white;
            z-index: 20;
            .page__title-h2 {
                
                margin-bottom: 40px;
                position: relative;
                &::before {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-image: url(../assets/img/img-professional-flower-before.png);
                    background-repeat: no-repeat;
                    width: 335px;
                    height: 290px;
                    top: -235px;
                    left: 174px;
                    z-index: 10;
                }
                &::after {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    background-image: url(../assets/img/img-professional-flower-after.png);
                    background-repeat: no-repeat;
                    width: 335px;
                    height: 290px;
                    top: 271px;
                    left: -212px;
                    z-index: 10;
                }
            }

            .page__text_small-pink {
                margin-bottom: 15px;
            }
        }

        &-img-center {
            .size(3);
            .page__img {
                padding-left: 40px;
            }
        }

        &-description-right {
            .size(5);
            padding-left: 90px;
            padding-top: 30px;
            .page__text_small-pink {
                margin-bottom: 15px;
                position: relative;
                &::before {
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    display: inline-block;
                    background-color: @color_pink;
                    position: absolute;
                    top: 10px;
                    left: -20px;
                    
                }
            }

            .page__text_very-small {
                margin-bottom: 26px;
            }
        }
    }
}