.projects {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 90px;
    .wrapper {
        overflow: hidden;
        max-width: 1280px;
    }
    &-block {
        &__img {
            .page__img {
                margin: 0 auto;
                
                
            }
        }

        .page__title-h2, .page__text_small {
            margin-bottom: 20px;
            text-align: center;
            
        }

        .page__title-h2 {
            line-height: 67px;
            margin-top: 10px;
            margin-bottom: 25px;
            .sm-block({
                font-size: 25px;
        
             });
        }

        &__slider {
            position: relative;
            padding: 0 40px;
            &-content{
                .size(4.5);
                margin: 0 auto;
                padding-left: 3%;
                .tns-ovh {
                    overflow: inherit;
                }
                .page__items{
                    .row-flex();
                    min-height: 400px;

                }
    
                .page__item{
                    margin: 0 auto;
                    display: inline-flex !important;
                    align-items: center;
                    flex-wrap: wrap;
                   

                    &.tns-slide-active{
                        .page__img {
                            // max-width: 457px;
                            // max-height: 352px;
                            // transform: scale(1.35);
                            transform: scale(1.1);
                            
                            &::before,
                            &::after{
                                background:transparent;
                            }
                        }
                        .page__text{
                            color:  @color_pink;;
                        }
                        .page__toggles{
                            
                            transform: scale(1);
                            top: 15px;
                            right: 18px;
                        }
                        + .page__item {
                            .page__img{
                                &::before{
                                    background: transparent;
                                }
                                &::after{
                                    content: '';
                                    right: 0;
                                    top: 0;
                                }
                            }
                            
                        }
                       
                    }
                    .page__img {
                        cursor: pointer;
                        position: relative;
                        margin: 0 auto;
                        transition: all .5s ease-out;
                        transform: scale(.8);
                        max-width: 457px;
                        max-height: 352px;
                        // max-width: 335px;
                        // max-height: 258.25px;
                        &::before,
                        &::after{
                            
                            background:  linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 76.28%);
                            height: 100%;
                            width: 100px;
                            display: inline-block;
                            position: absolute;
                        }
                        &::before{
                            content: '';
                            left: -5px;
                            transform: rotate( 180deg );
                        }
                        
                    }
                    .page__text{
                        font-size: 20px;
                        line-height: 24px;
                        width: 100%;
                        text-align: center;
                        font-weight: bold;
                    }
                    .page__toggles{
                        transition: all .5s ease-out;
                        transform: scale(0.6);
                        position: absolute;
                        top: 10px;
                        right: -6px;
                    
                       
                        .page__icon{
                            border: none;
                            margin: 0 3px;
                            background-color: transparent;
                        }
                    }
                }
            }
            
            
        }

        .page__text_small {
            margin-bottom: 40px;
        }

        .projects-btns {
            
           
        }
        .projects-btn{
            position: absolute;
        top: 45%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        
            width: 56px;
            height: 56px;
            background-color: @color_light-pink;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            &_prev,
            &_next{
                &::after{
                    display: inline-block;
                    content: '';
                    .sprite(@icon-chevron);
                }
                
            }
            &_prev{
                // position: relative;
                left: -10px;
                top: 46%;
            }
            &_next{
                // position: relative;
                right: -15px;
                top: 39%;

                transform: rotate(180deg);
            }
        }
    }
}