.slider-feedback {
    //overflow: hidden;
    position: relative;
    &__bg {
        background-image: url(../assets/img/img-bg-slider-feedback.png);
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
    }
    &-title{
        height: 320px;
        text-align: center;
        position: relative;
        
        .page__img{
            display: flex;
            justify-content: center;
        }
        .page__title-h2{
            margin: 0 auto;
            font-size: 50px;
            line-height: 60px;
            margin-top: 10px;
            .mmd-block({
                font-size: 25px;
                line-height: 34px;
            });
        }
        &_bg{
            height: 100%;
            width: 100%;
            position: absolute;
            opacity: 0.4;  
            background: linear-gradient(0deg, #FEE2D9 0%, rgba(254, 226, 217, 0) 100%);
        }
        &.animated{
            .from(@break_mmd, {
                .page__title-h2{
                    .animated({
                        .fadeIn();
                    });
                }
            });
        }
    }
    &-block {
        position: relative;
        top: -85px;
        .mmd-block({
            top: -170px;
        });
        .page__img_rose {
            position: relative;
            top: -110px;
        }

        &__slider {
            .col();
            .size(11);
            .size-mmd(12);
            margin: 0 auto;
            margin-left: 7%;
            .mmd-block({
                margin-left: 1%;
                margin: 0 auto;
            });
            background-color: @color_white;
            box-shadow: 0px 6px 17px rgba(0, 0, 0, 0.04);
            border-radius: 15px;
            position: relative;
            
            .tns-ovh {
            }
            .page__items{
                .row-flex();
                min-height: 400px;
               
                position: relative;
                
            }

            .page__item{
                margin: 0 auto;
                display: inline-flex !important;
                align-items: center;
                flex-wrap: wrap;
               
                padding: 0 90px;
                .mmd-block({
                    padding: 0px;
                    padding-bottom: 1%;
                    justify-content: center;
                    text-align: center;
                });
                .page__img{
                    .size(5.5);
                    .size-mmd(12);
                    .mmd-block({
                        margin-left: 12%;
                    });
                    position: relative;
                    z-index: 10;
                    .page__icon{
                        cursor: pointer;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .page__description{
                    .size(6);
                    .size-sm(12);
                    .shift-padding-left(1);
                    .shift-sm-padding-left(0);
                    padding-top: 5%;
                    .name{
                        font-size: 20px;
                        line-height: 24px;
                        color: @color_pink;
                        font-weight: bold;
                        margin-bottom: 18px;
                        .mmd-block({
                            width: 33%;
                            margin: 0 auto 5%;
                        });
                    }
                    .description{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
            }  
        }
        .projects-btns {
           
            width: 100%;
            display: flex;
            justify-content: space-between;
            
        }
        .projects-btn{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 56px;
            height: 56px;
            background-color: @color_light-pink;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
            .mmd-block({
                background-color:  #fff9f7;
            });
            &_prev,
            &_next{
                &::after{
                    display: inline-block;
                    content: '';
                    .sprite(@icon-chevron);
                }
                
            }
            &_prev{
                left: 8px;
                .sm-block({
                    top: 37%;
                });
            }
            &_next{
                right: 8px;
                top: 43%;

                .sm-block({
                    top: 32%;
                });
    

                transform: rotate(180deg);
            }
        }
    }
    &.animated{
        .from(@break_mmd, {
            .slider-feedback-block__slider{
                .animated({
                    .scale();
                });
            }
        });
    }
}