.step-work {
    padding-top: 100px;
    overflow: hidden;
    .sm-block({
        padding-top: 40px;
    });
    &-block {
        &__img {
            .page__img {
                margin: 0 auto;
                margin-bottom: 20px;
            }
        }
        .page__title-h2 {
            .size(6);
            .sm-block({
                font-size: 25px;
                .size(12);
            });
            margin: 0 auto;
            text-align: center;
            margin-bottom: 40px;
        }
        .page__img {
            margin: 0 auto;
        }

        &-items {
            .row-flex();
            .sm-block({
                flex-direction: column;
                
            });
            &-item {
                .col();
                .size(4);
                position: relative;
                background-color: @color_light-pink;
                border-radius: 15px;
                margin-bottom: 18px;
                .sm-block({
                    .size(12);
                    margin-bottom: 20px;
                });
                min-height: 374px;
                .page__img{
                    height: 100%;
                    overflow: hidden;
                    border-radius: 15px;
                    img{
                        transform: scale(1.08);
                    }
                }
                .page__description{
                    cursor: pointer;
                    display: none;
                    position: absolute;
                    top: 0;
                    background-color: @color_pink;
                    min-height: 374px;
                    border-radius: 15px;
                    padding: 78px 40px 0;
                    box-sizing: border-box;
                    &:hover{
                        display: block;
                    }
                    &::before{
                        content: '';
                        background-image: url(../assets/img/img-small-rose.png);
                        display: inline-block;
                        position: absolute;
                        right: -37px;
                        top: 22px;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        
                    }
                    .page__subtitle,
                    .page__text{
                        color: @color_white;
                    }
                    .page__subtitle{
                        width: 100%;
                        
                        font-size: 18px;
                        font-weight: 600;
                        margin: 0;
                        margin-bottom: 18px;
                    }
                    .page__text{
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                
                .page__subtitle{
                    .size(9.8);
                    margin: 40px auto 30px;
                    font-family: "@{Montserrat}-Regular";
                    color: @color_light-gray;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 24px;
                }
                .page__link{
                    text-align: center;
                    color: @color_pink;
                    font-size: 16px;
                    line-height: 20px;
                }
                .page__img{
                    &:hover{
                        + .page__description{
                            display: block;
                        }
                    }
                }







                &__background {
                    background-color: @color_light-pink;
                    
                    border-radius: 20px;
                    //height: 352px;
                    &-hover {
                        opacity: 0;
                        .sm-block({
                            opacity: 1;
                        });
                        //position: absolute;
                        height: 235px;
                        //background-color: rgba(0, 0, 0, .9);
                        &_2 {
                            opacity: 0;
                            .sm-block({
                                opacity: 1;
                                text-align: center;
                            });
                            .page__link-step-work {
                                //opacity: 0;
                            }
                            &:hover {
                                opacity: 1;
                                transition: all .3s;
                                text-align: center;
                            }
                        }
                        &:hover {
                            opacity: 1;
                            transition: all .3s;
                            padding-top: 10px;
                            padding-bottom: 15px;
                        }

                        
                    }
                    
                    .page__text_small {
                            
                        color: @color_light-gray;
                        text-transform: uppercase;
                        text-align: center;
                        line-height: 25px;
                        padding-top: 10px;
                        
                    }

                    .page__text_very-small {
                        
                        color: @color_light-gray;;
                        .size(10);
                        text-align: center;
                        margin: 0 auto;
                        margin-top: 20px;
                        font-size: 16px;
                        padding-bottom: 100px;


                    }

                    .page__img_small-rose {
                        position: relative;
                        top: 10px;
                        left: 30px;
                    }

                    &_contract, &_concept, &_stage, &_team, &_logistic, &_event, &_work-project, &_post-production  {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        background-image: url(../assets/img/img-bg-contract.png);
                        background-repeat: no-repeat;
                        border-radius: 25px;
                        height: 372px;
                        width: 374px;
                        align-items: center;
                        padding-top: 70px;
                        .sm-block({
                            .size(13);
                            border-radius: 25px;
                            padding-top: 15px;
                            
                        });
                        
                        .page__text_small {
                            text-transform: uppercase;
                            .sm-block({
                                position: relative;
                                top: 60px;
                            });
                            
                        }

                        .page__link-step-work {
                            .sm-block({
                                position: relative;
                                top: 80px;
                            });
                        }
                    }

                    &_concept {
                        background-image: url(../assets/img/img-bg-concept.png);
                        background-repeat: no-repeat;
                        .sm-block({
                           background-size: cover;
                        });
                    }

                    &_stage {
                        background-image: url(../assets/img/img-bg-stage.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }

                    &_team {
                        background-image: url(../assets/img/img-bg-team.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }

                    &_logistic {
                        background-image: url(../assets/img/img-bg-logistic.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }

                    &_event {
                        background-image: url(../assets/img/img-bg-event.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }

                    &_work-project {
                        background-image: url(../assets/img/img-bg-work-project.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }

                    &_post-production {
                        background-image: url(../assets/img/img-bg-post-production.png);
                        background-repeat: no-repeat;
                        .sm-block({
                            background-size: cover;
                         });
                    }
                }
            }
        }
    }
}