.tabs {
    position: relative;
    top: -58px;
    &-block {

        .row-flex();
        &-item {
            .size(3);
            .col();
            &__description {
                display: flex;
                align-self: center;
            }
            .page__img {
                height: 290px;
            }
        }
    }
}