.video {
    
    position: relative;
    // margin-top: 200px;
    margin-top: 250px;
    // margin-top: 13%;
    .sm-block({
        margin-top: 35%;
     });
     
     
    &_bg{
        height: 380px;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../assets/img/img-bg-video.png);
        .sm-block({
            height: 144px;
         });
    }
   
    &-block {
        display: flex;
        justify-content: center;
        transition: all 0.5s ease-out;
        .from(@break_mmd, {
            opacity: 0;
        });
        .page__video{
            position: relative;
            //margin: 0 auto;
            top: -200px;
            .size(8.5);
            .size-sm(11);
            height: 456.65px;
            max-height: 456.65px;
            .sm-block({
                height: 211.35px;;
                position: relative;
                top: -100px;
        
            });
        }
    }

    &.animated{
        .from(@break_mmd, {
            .video-block{
                .animated({
                    opacity: 1;
                    .scale();
                    .delay(.5s);
                });
            }
        });
        
    }
    
}