.video {
    
    position: relative;
    // margin-top: 200px;
    margin-top: 250px;
    // margin-top: 13%;
    &_bg{
        height: 380px;
        width: 100%;
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../assets/img/img-bg-video.png);
    }
    .sm-block({
        //width: ;
        height: 144px;
        margin-top: 0;

     });
    &-block {
        display: flex;
        justify-content: center;
        .page__video{
            position: relative;
            //margin: 0 auto;
            top: -200px;
            .size(8.5);
            height: 456.65px;
            max-height: 456.65px;
            .sm-block({
                .size(11);
                position: relative;
                top: -50px;
                left: 30px;
        
            });
        }
    }
    
}