section.10-professionals
    .wrapper
        .10-professionals-block
            .10-professionals-block__img
                img.page__img(src="")
            h2.page__title-h2 Над вашей свадьбой будут трудиться более 10 лучших профессионалов:
            .10-professionals-block-items
                .10-professionals-block-items__item
                .10-professionals-block-items__item
                .10-professionals-block-items__item
                .10-professionals-block-items__item
                .10-professionals-block-items__item
            .10-professionals-block-items
                .10-professionals-block-items__item
                .10-professionals-block-items__item
                .10-professionals-block-items__item
                .10-professionals-block-items__item
            .page__text_small-italic Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .10-professionals-block__img
                img.page__img(src="")