section.banner#banner
    .banner_bg
    .wrapper
        .banner-block
            .banner-block__description
                img.page__img_rose(src="assets/img/img-rose.png")
                h2.page__title-h2 Организация вашей свадьбы в Крыму
                p.page__text Твоя идеальная свадьба, как &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; арт-проект вашей истории любви
                button.page__btn Узнать больше
                p.page__text_very-small Пройди опрос и получи индивидуальный арт проект с расчетом стоимости
               
            .banner-block__img
                .page__img
                    img(src="assets/img/img-bg-banner.png")
