section.basis
    .wrapper
        .basis-block
            .basis-block-description
                p.page__text_small-pink База лучших Крымских площадок и вилл
                p.page__text_very-small Полная информация о крымских площадках: <br> о стоимостях, достоинствах и недостатках, работе кухни, фото и видео, размещении гостей и прочих нюансах, позволяющих принять лучшее решение.
                p.page__text_small-pink Идеальная команда подрядчиков
                p.page__text_very-small Широкий выбор специалистов команды, топовых экспертов, известных в Крыму и за его пределами. Мы раскроем секреты преимуществ предлагаемых специалистов, которые подбираются в зависимости от концепции проекта.
            .basis-block-items
                .basis-block-items-item 
                    .basis-block-items-item__img
                        .page__img
                            img(src="assets/img/img-basis-dogovor.png")
                    .basis-block-items-item__description
                        p.page__text_very-small Оформление договора, и отправка 
                        p.page__text_very-small оригинала по почте
                .basis-block-items-item 
                    .basis-block-items-item__img
                        .page__img
                            img(src="assets/img/img-basis-svyaz.png")
                    .basis-block-items-item__description
                        p.page__text_very-small Всегда на связи по телефону
                        p.page__text_very-small почте, видео и в соцсетях
                .basis-block-items-item 
                    .basis-block-items-item__img
                        .page__img
                            img(src="assets/img/img-basis-presentation.png")
                    .basis-block-items-item__description
                        p.page__text_very-small Презентация концепции свадьбы 
                        p.page__text_very-small по видеосвязи
                .basis-block-items-item 
                    .basis-block-items-item__img
                        .page__img
                            img(src="assets/img/img-basis-gosty.png")
                    .basis-block-items-item__description
                        p.page__text_very-small Встреча гостей в Крыму и 
                        p.page__text_very-small проведение мероприятия