section.basis
    .wrapper
        .basis-block
            .basis-block-description
                p.page__text_small-pink База лучших Крымских площадок и вилл
                p.page__text_very-small Полная информация о крымских площадках: о стоимостях, достоинствах и недостатках, работе кухни, фото и видео, размещении гостей и прочих нюансах, позволяющих принять лучшее решение.
                p.page__text_small-pink Идеальная команда подрядчиков
                p.page__text_very-small Широкий выбор специалистов команды, топовых экспертов, известных в Крыму и за его пределами. Мы раскроем секреты преимуществ предлагаемых специалистов, которые подбираются в зависимости от концепции проекта.
            .basis-block-items
                .basis-block-items-item
                    .basis-block-items-item__img
                        img.page__img(src="")
                    .basis-block-items-item__description
                .basis-block-items-item
                    .basis-block-items-item__img
                        img.page__img(src="")
                    .basis-block-items-item__description
                .basis-block-items-item
                    .basis-block-items-item__img
                        img.page__img(src="")
                    .basis-block-items-item__description
                .basis-block-items-item
                    .basis-block-items-item__img
                        img.page__img(src="")
                    .basis-block-items-item__description