section.city.isAnimate
    .city_bg
    .wrapper
        .city-block
            .city-block-description
                    .page__img
                        img(src="assets/img/img-rose.png")
                    h2.page__title-h2 Хочешь свадьбу в Крыму, но из другого города?
                    p.page__text_small Мы проводим множество свадеб с молодоженами не жителями полуострова и уже выработали для этого оптимальную стратегию.
                    p.page__text_small Дистанционная работа с влюблёнными – процесс организации свадьбы с вашим вовлечением удаленно, с экономией вашего времени на высоком уровне, гарантия по договору, защита пары от форс-мажоров.
            .city-block-img
                .page__img
                    img(src="assets/img/img-city-right-2.png")