section.city
    .wrapper
        .city-block
            .city-block__img
            h2.page__title-h2 Хочешь свадьбу в Крыму, но из другого города?
            p.page__text_very-small Мы проводим множество свадеб с молодоженами не жителями полуострова и уже выработали для этого оптимальную стратегию.
            p.page__text_small Дистанционная работа с влюблёнными – процесс организации свадьбы с вашим вовлечением удаленно, с экономией вашего времени на высоком уровне, гарантия по договору, защита пары от форс-мажоров.