footer.footer
    .wrapper
        .footer-block
            .footer-block-logo-descr
                .page__img
                    img(src="assets/img/img-logo-nav.png")
                .page__text_very-small Агентство по организации свадеб под ключ с опытом работы более 10 лет
            .footer-block-soc-call
                .header-block__soc-whatsapp
                .header-block__soc-vk
                .header-block__soc-instagram
                button.page__btn-call перезвоните мне