footer.footer
    .wrapper
        .footer-block
            .footer-block-logo-descr
                .footer-block-logo-descr__img
                    img(src="")
                .footer-block-logo-descr__descr Агентство по организации свадеб под ключ с опытом работы более 10 лет
            .footer-block-soc-call
                .footer-block-soc-call__soc
                .footer-block-soc-call__call
                    .page__btn перезвоните мне