footer.footer
    .wrapper
        .footer-block
            .footer-block-logo-descr
                .page__img
                    img(src="assets/img/img-logo-nav.png")
                .page__text_very-small Агентство по организации свадеб под ключ с опытом работы более 10 лет
            .footer-block__soc
                a.footer-block__soc-icon.header-block__soc-whatsapp(href="#")
                a.footer-block__soc-icon.header-block__soc-vk(href="#")
                a.footer-block__soc-icon.header-block__soc-instagram(href="#")
            .footer-block__call
                button.page__btn.page__btn-call перезвоните мне
                        .page__btn-call_tel