section.form
    .wrapper
        .form-block
            .form-block-img
                .page__img
                    img(src="assets/img/img-form.png")
            .form-block-form
                .page__img
                    img(src="assets/img/img-rose.png")
                h2.page__title-h2 Консультация с организатором
                .page__text_very-small Ответим на все вопросы по организации свадьбы в Крыму
                form(action="")
                    input.place(type="text" placeholder="Имя")
                    input.place(type="text" placeholder="Телефон")
                .page__btn Консультация