header.header
    .wrapper
        nav.header-block
                .header-block__logo
                    a(href="/")
                        img.page__img(src="assets/img/img-logo-nav.png")
                .header-block-links
                    a(href="#banner").page__link.header-block-links__get-opros Пройти опрос
                    a(href="#projects").page__link.header-block-links__portfolio Портфолио
                    a(href="#step-work").page__link.header-block-links__step-work Этапы работ
                    a(href="#slider-feedback").page__link.header-block-links__feedback Отзывы
                    a(href="#professional").page__link.header-block-links__about О нас
                .header-block__soc
                    a.header-block__soc-icon.header-block__soc-whatsapp(href="#")
                    a.header-block__soc-icon.header-block__soc-vk(href="#")
                    a.header-block__soc-icon.header-block__soc-instagram(href="#")
                .header-block__call
                    button.page__btn.page__btn-call перезвоните мне
                        .page__btn-call_tel
                    button.page__btn.page__btn-call_mob
                    .header-block__menu
                        button.header-block__menu-icon
                        