header.header
    .wrapper
        nav
            .header-block
                .header-block__logo
                    img(src="")
                .header-block__get-opros Пройти опрос
                .header-block__portfolio Портфолио
                .header-block__step-work Этапы работ
                .header-block__feedback Отзывы
                .header-block__about О нас
                .header-block__soc
                    .header-block__soc-whatsapp
                    .header-block__soc-vk
                    .header-block__soc-instagram
                .header-block__call
                    button.page__btn-call 
                        