header.header
    .wrapper
        nav
            .header-block
                .header-block__logo
                    a(href="/")
                        .page__img
                            img(src="assets/img/img-logo-nav.png")
                .header-block-links
                    a(href="#banner").page__link.header-block-links__get-opros Пройти опрос
                    a(href="#projects").page__link.header-block-links__portfolio Портфолио
                    a(href="#step-work").page__link.header-block-links__step-work Этапы работ
                    a(href="#slider-feedback").page__link.header-block-links__feedback Отзывы
                    a(href="#professional").page__link.header-block-links__about О нас
                .header-block__soc
                    .header-block__soc-whatsapp
                    .header-block__soc-vk
                    .header-block__soc-instagram
                .header-block__call
                    button.page__btn-call перезвоните мне
                    .page__btn-call_tel
                        