section.how-work
    .wrapper
        .how-work-block
            .how-work-block__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Узнай за 3 минуты как мы работаем
            p.page__text_small Как проходит подготовка к свадьбе с A-class wedding agency - рассказ нашей невесты