section.materials
    .wrapper
        .materials-block
            h2.page__title-h2 Мы подготовили для Вас полезные материалы, чтобы Ваша свадьба прошла идеально
            .materials-block-item
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small
                .materials-block-item
                    .page__text_small
                    .page__text_very-small
                    .page__text_very-small