section.materials.isAnimate
    .wrapper
        .materials-block
            .page__img
                img(src="assets/img/img-rose.png")
            h2.page__title-h2 Мы подготовили для Вас полезные материалы, чтобы Ваша свадьба прошла идеально
            .materials-block-items
                .materials-block-items__item
                    .page__text_small Пошаговый план подготовки
                    .page__text_very-small Инструкция и чек-лист поможет вам ничего не упустить при подготовке
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл
                .materials-block-items__item
                    .page__text_small Как сэкономить свадебный бюджет до 30%
                    .page__text_very-small Основы формирования свадебного бюджета, способы его экономии и частые ошибки
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл
                .materials-block-items__item
                    .page__text_small Учёт гостей и расчёт <br>напитков
                    .page__text_very-small Сколько нужно алкоголя и напитков именно для ваших гостей
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл
                .materials-block-items__item
                    .page__text_small Тайминг рекомендации
                    .page__text_very-small Как успеть всё в свадебный день и чувствовать себя отдохнувшими
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл
                .materials-block-items__item
                    .page__text_small Что не забыть в день свадьбы
                    .page__text_very-small Списки необходимого для жениха и невесты на каждом этапе свадебного дня
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл
                .materials-block-items__item
                    .page__text_small 12 лайфхаков для свадьбы
                    .page__text_very-small Маленькие и полезные советы по организации свадьбы
                    a(href="#" dowload).page__text_very-small_pink Получить pdf файл