section.price
    .price_bg
    .wrapper
        .price-block
                .price-block-img
                        img.page__img(src="assets/img/img-price.png")
                .price-block-description
                        img.page__img(src="assets/img/img-rose.png")
                        h2.page__title-h2 Сколько стоит свадьба в Крыму?
                        p.page__text_small Пройдите мини-опрос, где вы опишите пожелания и узнаете предварительную стоимость свадьбы.
                        .page__btn Пройти опрос
                        p.page__text_small_after Займет не более 3-4 минут