section#professional.professional
    .wrapper
        .professional-block
            .professional-block-description-profile
                .professional-block-description-profile__bg
                .professional-block-description-profile__img
                    img.page__img(src="assets/img/img-rose.png")
                h2.page__title-h2 Ваша свадьба в руках профессионалов
                p.page__text_small-pink Алексей Редкевич
                p.page__text_very-small Учредитель компании A-class wedding agancy 
                p.page__text_very-small Лучший из ведущих Крыма
            .professional-block-img-center
                img.page__img(src="assets/img/img-professional-aleksey.png")
            .professional-block-description-right
                p.page__text_small-pink Самая опытная event - компания в Крыму
                p.page__text_very-small Тысячи успешно созданных событий с бюджетами от 300 000 до 5 000 000, Организаторы, которым доверяют медийные звёзды: Тимур Родригез, Илья Соболев, Илья Орехов, группа Блестящие, группа Bad Boys Blue, Владимир Полищук, акробатический дуэт "Веселый Роджер" и другие.
                p.page__text_small-pink Мастер-классы и концерты
                p.page__text_very-small Ежегодно мы проводим проект для молодожёнов "Школа Невест" - бесплатное, обучающее событие по организации торжеств, а также создаём свое уникальное, шоу "А-классный вечер" с участием российских звёзд
                p.page__text_small-pink Продюсирование артистов
                p.page__text_very-small Единственное агентство в Крыму, занимающееся продюсированием артистов: шоу-балет, фокусник, художница, трио певцов.
                p.page__text_small-pink Собственный парк оборудования
                p.page__text_very-small более 8 комплексов звукового аппарата, более 50 световых приборов, фотокабины, селфизеркало, тимбилдинг-игры, ковровые дорожки и прочее.