section.projects
    .wrapper
        .projects-block
            .projects-block__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Наши проекты под ключ
            p.page__text_small Фото и видео проектов
            .projects-block__slider
                #projectsSlider
                    .page__img 1
                    .page__img 2
                    .page__img 3
            .projects-btns
                button.projects-btn_prev <
                button.projects-btn_next >