mixin item(name)
    .page__item
        .page__img 
            img(src="assets/img/img-video-1.png")
            .page__toggles
                button.page__icon.page__icon_photograph
                button.page__icon.page__icon_videocamera
            .page__text.name Антон и Юлия
        
section.projects
    .wrapper
        .projects-block
            .projects-block__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Наши проекты под ключ
            p.page__text_small Фото и видео проектов
            .projects-block__slider
                .projects-block__slider-content
                    #projectsSlider.page__items
                            +item()
                            +item()
                            +item()
                            +item()
                            +item()
                .projects-btns
                    button.projects-btn.projects-btn_prev
                    button.projects-btn.projects-btn_next 