mixin item(name)
    .page__item
            .page__img 
                img(src="assets/img/img-video-prev.png")
                .page__icon.page__icon_play
            .page__description
                .page__text.name Юля и Егор
                .page__text.description Хочется от всей души поблагодарить за наш праздник!! Мы очень довольны, все прошло на высшем уровне! Церемония была настолько трогательная, что даже мужчины со стальными нервами не смогли сдержать слез!!! А банкет, конечно, прошел легко и непринужденно, все веселились, всем было комфортно, и буквально каждый второй гость подходил к нам и говорил, что ведущий - настоящая находка, профессионал своего дела, мастер! .🎉 🎉 🎉
section.slider-feedback-title
    .slider-feedback-title_bg
    .page__img
        img.page__img(src="assets/img/img-rose.png")
    h2.page__title-h2 Отзывы молодожёнов о <br>нашей работе
section.slider-feedback
    .slider-feedback__bg
    .wrapper
        .slider-feedback-block
            .slider-feedback-block__slider
                #feedbackSlider.page__items
                    +item()
                    +item()
                .projects-btns
                    button.projects-btn.projects-btn_prev
                    button.projects-btn.projects-btn_next