section.step-work
    .wrapper
        .step-work-block
            .step-work-block__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Этапы работ
            .step-work-block-items
                .step-work-block-items-item
                    .step-work-block-items-item__background
                        img.page__img_small-rose(src="assets/img/img-small-rose.png")
                        p.page__text_small Консультация, 
                        p.page__text_small встречи, менеджмент
                        p.page__text_very-small Включают рассказ влюблённых о своей мечте, подробный разбор приоритетов исходя из пожеланий, консультации по форматам свадебного торжества, по местам проведения, по стилям, формированию свадебного бюджета и предварительное согласование сметы.
                .step-work-block-items-item
                    .step-work-block-items-item__background_contract
                        p.page__text_small Заключение 
                        p.page__text_small договора
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_concept
                        p.page__text_small Разработка 
                        p.page__text_small концепции
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_stage
                        p.page__text_small Подбор 
                        p.page__text_small площадки
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_team
                        p.page__text_small Подбор 
                        p.page__text_small команды
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_logistic
                        p.page__text_small Логистика и
                        p.page__text_small оборудование
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_event
                        p.page__text_small Подготовка 
                        p.page__text_small к событию
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_work-project
                        p.page__text_small Работа 
                        p.page__text_small на проекте
                        a.page__link-step-work(href="#") Читать больше
                .step-work-block-items-item
                    .step-work-block-items-item__background_post-production
                        p.page__text_small Постпродакшн
                        a.page__link-step-work(href="#") Читать больше
            .page__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Отзывы молодожёнов о нашей работе
            h2.page__title-h2 