mixin item(icon, text)
    .tabs-block-item
        .tabs-block-item__bg
            .page__icon
                div(class=icon)
        .page__text=text 
section.tabs
    .wrapper
        .tabs-block
            +item('page__icon_proximo','Экономия вашего бюджета до 30%')
            +item('page__icon_micriophone','Команда ведущих и свадебных экспертов') 
            +item('page__icon_wedding-ring','10 лет проводим свадьбы')
            +item('page__icon_celebration','Эксклюзивное шоу для Вас')