section.tabs
    .wrapper
        .tabs-block
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="assets/img/img-tab-1.png")
                .page__text_small_center.tabs-block__description Экономия вашего
                .page__text_small_center.tabs-block__description_center бюджета до 30%
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="assets/img/img-tab-2.png")
                .page__text_small_center.tabs-block__description Команда ведущих 
                .page__text_small_center.tabs-block__description и свадебных экспертов
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="assets/img/img-tab-3.png")
                .page__text_small_center.tabs-block__description 10 лет 
                .page__text_small_center.tabs-block__description проводим свадьбы
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="assets/img/img-tab-4.png")
                .page__text_small_center.tabs-block__description Эксклюзивное 
                .page__text_small_center.tabs-block__description шоу для вас