section.tabs
    .wrapper
        .tabs-block
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="")
                .tabs-block__description Экономия вашего бюджета до 30%
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="")
                .tabs-block__description Команда ведущих и свадебных экспертов
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="")
                .tabs-block__description 10 лет проводим свадьбы
            .tabs-block-item
                .tabs-block__img
                    img.page__img(src="")
                .tabs-block__description Эксклюзивное шоу для вас