section.ten-professionals.isAnimate
    .wrapper
        .ten-professionals-block
            .ten-professionals-block__img
                img.page__img(src="assets/img/img-rose.png")
            h2.page__title-h2 Над вашей свадьбой будут трудиться более 10 лучших профессионалов:
            .ten-professionals-block-items
                .ten-professionals-block-items__item Организаторы<br> и координаторы
                .ten-professionals-block-items__item Декоратор<br> и флорист
                .ten-professionals-block-items__item Ведущие и DJ
                .ten-professionals-block-items__item Фотографы <br>и видеоографы
                .ten-professionals-block-items__item Пиротехники и артисты
            .ten-professionals-block-items
                .ten-professionals-block-items__item Кондитеры
                .ten-professionals-block-items__item Стилисты
                .ten-professionals-block-items__item Площадки
                .ten-professionals-block-items__item Трансфер
            .page__text_small-italic Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .ten-professionals-block__img
                img.page__img(src="assets/img/img-ten-professional.png")