extends templates/template

block title
	title AClass
block append style
block content
	include modules/header-module
	include blocks/banner
	include blocks/tabs
	include blocks/how-work
	include blocks/video
	include blocks/projects
	include blocks/price
	include blocks/step-work
	include blocks/slider-feedback
	include blocks/professional
	include blocks/ten-professionals
	include blocks/city
	include blocks/basis
	include blocks/form
	include blocks/materials
	include blocks/footer
	include blocks/modal-mobile
block append script